<div class="pagination">
    <span class="step-links">
        <a href="?page=1" class="btn btn-warning mt-1 ml-1">&laquo; В начало</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-warning mt-1 ml-1">{{ page_obj.previous_page_number }}</a>
        {% else %}
            <span class="btn btn-warning mt-1 ml-1">{{ page_obj.number }}</span>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-warning mt-1 ml-1">{{ page_obj.next_page_number }}</a>
        {% else %}
            <span class="page-disabled btn btn-warning mt-1 ml-1">{{ page_obj.number }}</span>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-warning mt-1 ml-1">В конец &raquo;</a>
    </span>
</div>